* {
    margin: 0;
    padding: 0;
}

#playground {
    display: block;
    width: 1250px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid black 2px;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #045FB4;
    color: white;
    padding: 0.5em;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 1.5em;
}

#Verloren {
    display: none;
    margin-top: 0px;
    margin-left: 0px;
    position: fixed;
    height: 600px;
    width: 1300px;
    background-color: black;
    z-index: 1000;
}


/*Das Div für den Startbildschirm TODO: Startbildschirm implementieren*/

#homeScreen {
    display: none;
}

#player {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
}


/*Die Bewegung der Gegner bzw. Hindernisse von rechts nach links*/

.obstacle {
    z-index: 2;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("obstacleIce.png");
    position: absolute;
    top: 300px;
    left: 1250px;
    animation: obstacle 2.5s linear;
}

.coin {
    z-index: 2;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("coin.png");
    position: absolute;
    top: 250px;
    left: 1250px;
    animation: obstacle 2.5s linear;
}

@keyframes obstacle {
    0% {
        left: 1250px;
    }
    100% {
        left: 0;
    }
}


/*Die Animation für einen kleinen Sprung*/

.jumpClass {
    animation: jump 300ms ease-in-out;
}

@keyframes jump {
    0% {
        top: 0px;
    }
    45% {
        top: -100px;
    }
    55% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}


/*Die Animation für einen hohen Sprung*/

.highJumpClass {
    animation: highJump 450ms ease-in-out;
}

@keyframes highJump {
    0% {
        top: 0px;
    }
    45% {
        top: -200px;
    }
    55% {
        top: -200px;
    }
    100% {
        top: 0px;
    }
}


/*Die Klasse für alle Münzen, TODO: Münzen implementieren, orientieren an Obstacle*/

.coin {
    height: 50px;
    width: 50px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('coin.png')
}

button {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
}
#neustart	{
	top:40%;
	left:40%;
	background-color:red;
	font-size:50px;
	width: 200px;
}
#back_to_homescreen {
	font-size:50px;
	width: 500px;
	background-color:red;
	height:70px
	top: 55%;
	left: 40%;
}
#starten {
	top:40%;
	left:50%;
}
#GameOver {
    position: absolute;
    margin: 0;
    top: 20%;
    left: 85%;
    -ms-transform: translate (-50%, -50%);
    transform: translate(-50%, -50%);
	font-size: 200px;
	color:red;
	width:1900px
}
#neustart {
    top: 40%
}
body {
	position: absolute;
}