
	#can{
			background-image: url('Eislandschaft.png');   
			display: block;
			margin: 0 auto;
			background-repeat: no-repeat;
			position: absolute;
			background-size: contain;
			width:3000px;
			height:1200px;
			z-index:0;
		}
		*{
			margin: 0;
			padding: 0;
		}
	#player {
		width: 100px;
		height:100px;
		background-image: url('Mario.png');		/* richtiges bild einfügen */
		background-size: contain;
		position: absolute;
		background-repeat: no-repeat;
		margin-top: 0px;
		margin-left:0px;
		z-index:200;
}
	@keyframes jump{
    0%{top: 0px;}
    30%{top: -150px;}
    70%{top: -150px;}
    100%{top: 0px;}
}
.animate{
    animation: jump 300ms linear;
}
.animate2{
	animation: jump2 500ms linear;
}
	@keyframes jump2{
    0%{top: 0px;}
    30%{top: -300px;}
    70%{top: -300px;}
    100%{top: 0px;}
}
#Klotz{
	z-index: 200;
	 width: 50px;
    height: 50px;
    background-color: blue;
    position: relative;
    top: 780px;
    left: 900px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 900px;}
    30%{left: 600px;}
    70%{left: 300px;}
    100%{left: 0px;}
}






